.MainUI-this{
    background-color: ivory;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.MainUI-loginStatusPanel{
    height: 100%;
    max-width: 250px;
    min-width: 250px;
    padding: 0;
}

.MainUI-mainContent{
    border-radius: 8px;
    border: 3px solid dodgerblue;
    height: 100%;
    width: 100%;
}

[class$='Tabs']{
    width: 100%;
}

[class$='Tab']{
    flex-grow: 1;
}

.MainUI-tabContent{
    height: 100%;
    width: 100%;
}
.AuthWidget-this{
    background-color: ivory;
    width: 100%;
    border-radius: 8px;
    border: 3px solid dodgerblue;
}

.AuthWidget-currentUsername{
    font-size: 25pt;
    font-weight: bold;
    text-align: center;
}

[class^='AuthWidget-']{
    width: 100%;
}

.CurrentTasksUI-this {
    width: 100%;
    height: 100%;
}

.CurrentTasksUI-tasksList{
    background-color: lightgrey;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.TaskDetails-this{
    width: 100%;
    height: 100%;
}

.TaskElement-this{
    border-radius: 8px;
}

.TaskElement-this :hover{
    border: solid 4px white;
}

.TaskDetails-resultTextArea{
    width: 100%;
    height: 100%;
    white-space: pre;
    overflow: auto;
}

.RunNewTaskUI-this {
    width: 100%;
    height: 100%;
}

.RunNewTaskUI-sourcePickLayout {
    width: 100%;
    height: 100%;
}

.RunNewTaskUI-settingsLayout {
    width: 100%;
    height: 100%;
}

.RunNewTaskUI-repoSourceTreeGrid {
    width: 100%;
    height: 100%;
}

.RunNewTaskUI-runOnceSourceTextArea {
    width: 100%;
    height: 100%;
}