.MainUI-this{
    background-color: ivory;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.MainUI-loginStatusPanel{
    height: 100%;
    max-width: 250px;
    min-width: 250px;
    padding: 0;
}

.MainUI-mainContent{
    border-radius: 8px;
    border: 3px solid dodgerblue;
    height: 100%;
    width: 100%;
}

.MainUI-mainContentTabs{
    width: 100%;
}

[class^='MainUI-'] [class$='Tabs']{
    flex-grow: 1;
}

.MainUI-tabContent{
    height: 100%;
    width: 100%;
}
.AuthWidget-this{
    background-color: ivory;
    width: 100%;
    border-radius: 8px;
    border: 3px solid dodgerblue;
}

.AuthWidget-currentUsername{
    font-size: 25pt;
    font-weight: bold;
    text-align: center;
}

[class^='AuthWidget-']{
    width: 100%;
}

.CurrentTasksUI-this {
    width: 100%;
    height: 100%;
}

.CurrentTasksUI-tasksList{

}

.CurrentTasksUI-taskDetails{

}