.

.taskElement {
    border: 3px solid slategray;
    border-radius: 8px;
}

.created{
    background-color: paleturquoise;
}

.canceled{
    background-color: lightgray;
}

.in_progress{
    background-color: cornflowerblue;
}

.successful{
    background-color: lightseagreen;
    border-radius: 8px;
}

.successful:hover{
    box-shadow: 0 0 20px 10px white;
}

.failed{
    background-color: indianred;
}